
/* Navbar Section */
.navbar{
    padding: 3%;
}

.nav-center{
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}

.nav-item{
    margin: 0 3%;
}

/* Title Section  */
#title{
    padding: 3% 7%;
    text-align: center;
}

.heading{
    font-size: 70px;
    margin-top: 8%;
    margin-bottom: 15%;
}

.search-area{
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
    width: 90%;
}