{% extends 'message/base.html' %}
{% block title %} 
    UNSAID PROJECT
{% endblock title %}
{% block content %}



    <!-- Title  -->
    <section id="title">
        <div class="title-section">
            <h1 class="heading">THE UNSAID PROJECT</h1>
            <h3>A collection of Unsent Text Messages To First Loves</h3>
            <p>4,766,156 Posts Found</p>
        </div>
        
    </section>

    <!-- Message Section  -->
    <section id="message-section">
        <div class="message-screen">
            <div>
                {% for mail in messages %}
                <p>{{ mail.name }}</p>
                <p>{{ mail.message }}</p>
                {% endfor %}
            </div>
        </div>
    </section>




{% endblock content %}